body {
  font-family: "Squada One", sans-serif;
}

p{
  font-weight: 200;
}
span{
    font-weight: 900;
}

input[type="button"]{
    background-color: red;
    color: white;
    border: none;
    height: 30px;
}
div{
  padding-top: 8px;
}